body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Open Sans";
    padding: 0 20px;
}

h1 {
    margin: 0px;
}

hr {
border: 2px solid #33836E;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ask-button {
    background-color: #33836E;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
}

/* .contact {
    display: block;
} */

.phone-number{
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.search{
    border: none;
    border-radius: 10px;
    width: 427px;
    font-size: 16px;
    background-color: #2F2B430A;
    padding: 10px;
}

.menu {
    display: flex;
    margin-top: 40px;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: black;
    text-decoration: none;
}


.menu-border {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.tab{
padding-top: 25px;
color: rgb(156, 156, 156);

}

.header-all {
display: flex;

align-items: center;
padding: 0px;
gap: 30px;
}

.heading{
font-weight: 700;
font-size: 38px;
margin-bottom: 30px;
display: flex;
width: 657px;
height: 104px;
left: 150px;
top: 277px;

}

.text-under-h1{
font-size: 16px;
}

/* .question-block{

} */

.contact {
display: flex;

padding: 0px;
gap: 5px;
flex-direction: column;
align-items: flex-start;
}

.phone {
display: block;

padding: 0px;
gap: 5px;
}

.ask-block {
display: flex;
flex-direction: row;
margin-top: 30px;
margin-bottom: 30px;
padding: 0px;
gap: 40px;
}


.number{
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #33836E;
text-decoration: underline #33836E; 
}

.free-call{
margin: 0px;
font-size: 12px;
color: rgb(184, 184, 184)
}

.features{
display: flex;


padding: 0px;
gap: 30px;

/* position: absolute;
width: 628px;
height: 24px;
left: 150px;
top: 600px;
 */

}

.feature {
display: flex;

padding: 0px;
gap: 10px;
border-radius: 20px;
}

/* .man {

}

.avatar {

} */


.lawyer-help{
    margin: 40px 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

}

.lawyer-help-heading{
font-weight: 700;
font-size: 32px;
line-height: 44px;
letter-spacing: -0.03em;

}

.heading2 {
font-weight: 700;
font-size: 32px;
line-height: 44px;
letter-spacing: -0.03em;
color: #140A32;

}

.lawyer-help-text{
font-weight: 400;
font-size: 18px;
line-height: 160%;
display: flex;
gap: 120px;
margin: 0px 0px;

color: #140A32;

}

.free-help {
    width: 100%;
    max-width: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.free-help-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.free-help-image {
    flex-shrink: 0;
    width: 400px;
}

.help-boxs {
    display: flex;
    gap: 20px;
    margin: 30px 0px;
}

.green{
    color: rgba(51, 131, 110, 1);
}

.womentalk {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-inline: auto ;
    width: 100%;
}

.telephone-hot-line {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-inline: auto ;
    margin-bottom: 90px;
    width: 100%;
}

.whyUs {
    margin: 60px 0px;
}


.whyUs-boxs {
    display: flex;
    gap: 20px;
}


.whyUs-box {
    /* padding: 30px 0px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.help-blok {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    gap: 15px;
    width: 386px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
}

.help-blok-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    width: 386px;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
}


.whyUs-help-boxs{
    width: 100%;
    display: flex;
    margin: 30px 30px; 
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;

/* padding: 0px;
gap: 20px; */
}

.whyUs-help-box { 
display: flex;
flex-direction: row;
align-items: center;
padding: 40px;
border: 1px solid rgba(47, 43, 67, 0.15);
border-radius: 20px;
gap: 30px;
height: 100%;         
align-items: flex-start;

}


.chooseUs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}


.chooseUs-1{
width: 560px;
}


.chooseUs-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.chooseUs-text-mini {
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

border-radius: 20px;
}

.green-text{
    color: rgba(51, 131, 110, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
}


.green-text-1{
    color: rgba(51, 131, 110, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}


.specialties-min  {
    
    box-sizing: border-box;
    padding: 20px;
    gap: 15px;
    flex-grow: 1;
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 20px;
    height: 287px;
}

.specialties-min-1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 520px;
height: 247px;
}

.specialties-all {
/* flex-direction: row; */
display: flex;
/* align-items: flex-start;
align-content: flex-start; */
padding: 0px;
gap: 40px;
}


.text1{
    font-size: 14px;
    line-height: 150%;
    color: rgba(47, 43, 67, 0.7);
    width: 420px;
    padding-top: 15px;
    
}


.text-green{
    display: block;
    /* border-bottom: 1px  solid #33836E; */
    text-decoration: underline solid #33836E;
    font-weight: 600;
    font-size: 16px;
    width: 200px;
    padding-bottom: 15px;
}


.specialties-block {
    gap: 30px;
    display: flex;
    flex-direction: column;
}


.specialties {
    /* margin: 60px 0px; */
    margin: auto;
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
